
   /* This is for my bg color and text color of my pages */
    body {
        background-color: rgb(119, 255, 176);
        color:rgb(86, 86, 86);
    }
    
    /* nav positions */
    nav {
        height: 200px;
        width: 200px;
        float: left;
        padding: 5px;
        line-height: 30px;
    }

    /*footer positions */
    footer {
    text-align: center;
    margin-right: 200px;
    }
    
    /*header position*/
    header {
    text-align: center;    
    }

    /* buttons */
    .lgButton {
        height: 50px;
        width: 300px;
        border-radius: 50px;
        background-color: blueviolet;
        border-color: cadetblue;
    }

    /* buttons */
    .lgButton2 {
        height: 50px;
        width: 300px;
        border-radius: 50px;
        background-color:cadetblue;
        border-color: blueviolet;
    }   